body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

header {
    flex: 0 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
}

.navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid rgb(182, 182, 182) thin;
}

menu .nav-item {
    padding: 0 0.3em;
}

footer {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between !important;
    margin-top: .3em;
}

div a {
    margin-right: .5em !important;
}

main {
    height: 84vh !important;
    padding-top: 3em;
}

#players {
    height: 40px;
    padding: .4em;
}

.game {
    background: rgb(0, 0, 0);
    border-radius: 50%;
    box-shadow: 0 0 20px 5px rgb(69, 69, 69);
    width: 80vw;
    height: 80vw;
    position: absolute;
    margin-top: 8em;
    min-width: 350px;
    min-height: 350px;
    max-width: min(80vmin, 1000px);
    max-height: min(80vmin, 1000px);
}
  
.button-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
  
.button-top-left {
    border-radius: 100% 0 0 0;
    margin: 20px 0 0 20px;
    background-color: green;
    border: thick solid rgb(36, 53, 0);
}
  
.button-top-right {
    border-radius: 0 100% 0 0;
    margin: 20px 20px 0 0;
    background-color: red;
    border: thick solid rgb(83, 12, 12);
}
  
.button-bottom-left {
    border-radius: 0 0 0 100%;
    margin: 0 0 20px 20px;
    background-color: yellow;
    border: thick solid rgb(130, 124, 13);
}
  
.button-bottom-right {
    border-radius: 0 0 100% 0;
    margin: 0 20px 20px 0;
    background-color: blue;
    border: thick solid rgb(27, 14, 100);
}
  
.controls {
    position: absolute;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: black;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
  
.game-name {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.center {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}