body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

header {
    flex: 0 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
}

.navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid rgb(182, 182, 182) thin;
}

menu .nav-item {
    padding: 0 0.3em;
}

footer {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between !important;
    margin-top: .3em;
}

div a {
    margin-right: .5em !important;
}

main {
    height: 84vh !important;
    padding-top: 3em;
}

#players {
    height: 40px;
    padding: .4em;
}